<ion-header>
  <ion-toolbar class="bg-image">
    <ion-title class="tittle-home">Conversaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div *ngFor="let conversacion of conversaciones" class="costumer-item">
      <ion-row>
        <ion-col size=8 (click)="seleccion(conversacion.idUsuario)">
          <p class="p-title"> {{ conversacion.idUsuario }} </p>
        </ion-col>
      </ion-row>
      <hr color="grey" width="96%">
    </div>
  </ion-content>
</ion-content>